<?xml version='1.0' encoding='utf-8'?>
<widget id="br.gov.betim.sadcp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SADCP Rastreio</name>
    <description>Rastreio de Processos SADCP - Prefeitura de Betim</description>
    <author email="contato@betim.mg.gov.br" href="http://betim.mg.gov.br">SADCP</author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-intent href="http:///" />
    <allow-intent href="https:///" />
    <allow-navigation href="*" />
    
    <preference name="loglevel" value="DEBUG" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="DisallowOverscroll" value="true" />

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="KeepRunning" value="true" />
    </platform>
</widget>
